.v-app .exititemlayout {
	float: right;
}

.v-app .add-to-lib-item-layout {
	/* margin-right: 30px; */
	float: right;
}

.v-app .emptyplaylist .v-table-body {
    background: url("dragmedia.png");
    background-repeat:no-repeat;
	background-position:center center;
	background-color: transparent;
}
