@import "../reindeer/styles.css";

.part {
	background-color: white;
}

.horizontaltrimbar {
	padding-left:   5px;
	padding-right:  5px;
	padding-top:    6px;
 	padding-bottom: 6px;
}

.verticaltrimbar {
	padding-left:   4px;
	padding-right:  4px;
	padding-top:    5px;
 	padding-bottom: 5px;
}

.verticaltrimelement {
	position: relative;
	float: top;
	padding: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
}

.horizontaltrimelement {
	position: relative;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

.horizontalseparator {
	position: relative;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-right: 4px;
	width: 2px;
	height: 18px;
	background-image: url('img/separator.png');
}

.verticalseparator {
	position: relative;
	float: top;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
	width: 18px;
	height: 2px;
	background-image: url('img/separator_v.png');
}

.perspective-panel {
	position: relative;
	float: left;
	margin-left: 5px;
	margin-top: 4px;
	border: none;
	background-color: transparent;
}

/*
	vaadock-toolbar-button horizontal
*/
.vaadock-toolbar-button {
	background-color: inherit;
	border: none;
	margin: 0px;
	padding: 0;
}

.v-ie .vaadock-toolbar-button {
	width: 0;
	overflow: visible;
}

.vaadock-toolbar-button .v-icon {
	margin-left: -2px;
	margin-top: -2px;
	padding: 3px;
}

.v-ie .vaadock-toolbar-button .v-icon {
	margin-left: -12px;
	margin-top: -2px;
	padding: 3px;
}

.vaadock-toolbar-button:hover {
	background:
		url('img/toolbar_button_background_hover_23x20.png')
		no-repeat 0 0;
}

.vaadock-toolbar-button:active {
	background:
		url('img/toolbar_button_background_active_23x20.png')
		no-repeat 0 0;
}

.vaadock-toolbar-button_selected {
	border: none;
	margin: 0px;
	padding: 0px;
	background:
		url('img/toolbar_button_background_active_23x20.png')
		no-repeat 0 0;
}

.v-ie .vaadock-toolbar-button_selected {
	width: 0;
	overflow: visible;
}

.vaadock-toolbar-button_selected .v-icon {
	margin-left: -2px;
	margin-top: -2px;
	padding: 3px;
}

.v-ie .vaadock-toolbar-button_selected .v-icon {
	margin-left: -12px;
	margin-top: -2px;
	padding: 3px;
}

/*
 * sash widget
 */
.v-splitpanel-hsplitter-invisible-locked {
width: 0px;
}

.v-splitpanel-vsplitter-invisible-locked {
width: 0px;
}

.area_background {
	background-color: gray;
}

/*
 * window no header
 */
 .v-window-loading-window .v-window-outerheader {
    height: 0;
    margin-left: 0;
    padding: 0;
}

.mparttoolbararea {
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.mparttoolbar {
	float: right;
}
/************* jhighlight styles**************************/
.xml_plain {
color: rgb(0,0,0);
}
.xml_tag_name {
color: rgb(0,55,255);
}
.xml_comment {
color: rgb(147,147,147); background-color: rgb(247,247,247);
}
.xml_tag_symbols {
color: rgb(0,59,255);
}
.xml_rife_tag {
color: rgb(0,0,0); background-color: rgb(228,230,160);
}
.xml_attribute_value {
color: rgb(193,0,0);
}
.xml_attribute_name {
color: rgb(0,0,0); font-weight: bold;
}
.xml_char_data {
color: rgb(0,0,0);
}
code {
color: rgb(0,0,0); font-family: monospace; font-size: 12px; white-space: nowrap;
}
.xml_rife_name {
color: rgb(0,0,196); background-color: rgb(228,230,160);
}
h1 {
font-family: sans-serif; font-size: 16pt; font-weight: bold; color: rgb(0,0,0); background: rgb(210,210,210); border: solid 1px black; padding: 5px; text-align: center;
}
.xml_processing_instruction {
color: rgb(0,0,0); font-weight: bold; font-style: italic;
}
