<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.tools.emf.ui.editors">
      <editor
            descriptorClass="org.semanticsoft.e4tools.extension.EditorPartDescriptorEditorDesc">
      </editor>
      <virtualeditor
            class="org.semanticsoft.e4tools.extension.VEditorPartDescriptor"
            id="org.semanticsoft.e4tools.extension.VaaclipseApplicationEditor.EDITOR_DESCRIPTORS">
      </virtualeditor>
      <editor
            descriptorClass="org.semanticsoft.e4tools.extension.VaaclipseApplicationEditorDesc">
      </editor>
      <editorfeature
            class="org.semanticsoft.e4tools.extension.EditorFeature">
      </editorfeature>
   </extension>

</plugin>
