<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.semanticsoft.vaaclipse.app.application"
            name="Cassandra">
         <property
               name="appName"
               value="Cassandra">
         </property>
         <property
               name="applicationXMI"
               value="org.semanticsoft.vaaclipsedemo.cassandra.app/Application.e4xmi">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="cssTheme"
               value="reindeer">
         </property>
         <property
               name="applicationWidgetset"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.cassandra.app/widgetset/cassandra.widgetset.CassandraWidgetset">
         </property>
         <property
               name="applicationHeaderIcon"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.cassandra.app/img/favicon.ico">
         </property>
      </product>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.semanticsoft.vaaclipsedemo.cassandra.expression.texteditor">
         <with
               variable="editortype">
            <equals
                  value="texteditor">
            </equals>
         </with>
      </definition>
   </extension>
   
   <extension
         id="AddonSnippet"
         name="Addon Snippet"
         point="org.eclipse.e4.workbench.model">
      <processor
            beforefragment="true"
            class="org.semanticsoft.vaaclipsedemo.cassandra.app.processor.TextEditorProcessor">
      </processor>
   </extension>
   <extension
         point="org.semanticsoft.vaaclipse.theme">
         <themecontribution
            cssUri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/styles.css"
            id="org.semanticsoft.vaaclipse.resources"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/">
         </resourceLocationUri>
         <themeid
               refid="reindeer">
         </themeid>
      </themecontribution>
      <themecontribution
            cssUri="css/default.css"
            id="org.semanticsoft.vaaclipsedemo.cassandra.app.maincontrib"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="img/">
         </resourceLocationUri>
         <themeid
               refid="reindeer">
         </themeid>
      </themecontribution>
   </extension>
</plugin>
