<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.semanticsoft.vaaclipsedemo.mediaplayer"
            application="org.semanticsoft.vaaclipse.app.application">
         <property
               name="appName"
               value="org.semanticsoft.vaaclipsedemo.mediaplayer">
         </property>
         <property
               name="applicationXMI"
               value="org.semanticsoft.vaaclipsedemo.mediaplayer/Application.e4xmi">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/css/default.css">
         </property>
         <property
               name="applicationWidgetset"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/widgetset/mediaplayer.MediaplayerApplicationWidgetset">
         </property>
         <property
               name="applicationHeaderIcon"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/icons/favicon.ico">
         </property>
         <property
               name="applicationAuthenticationProvider"
               value="bundleclass://org.semanticsoft.vaaclipsedemo.mediaplayer/org.semanticsoft.vaaclipsedemo.mediaplayer.login.LoginProvider">
         </property>
      </product>
   </extension>
   <extension id="processor"
         point="org.eclipse.e4.workbench.model">
         
        <processor
            beforefragment="true"
            class="org.semanticsoft.vaaclipsedemo.mediaplayer.processors.MediaLibrarySetupProcessor">
      	</processor>
         
   </extension>

</plugin>
