<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.semanticsoft.vaaclipsedemo.mediaplayer"
            application="org.semanticsoft.vaaclipse.app.application">
         <property
               name="appName"
               value="org.semanticsoft.vaaclipsedemo.mediaplayer">
         </property>
         <property
               name="applicationXMI"
               value="org.semanticsoft.vaaclipsedemo.mediaplayer/Application.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="chameleon-legacy">
         </property>
         <!--property
               name="applicationWidgetset"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/widgetset/mediaplayer.MediaplayerApplicationWidgetset">
         </property-->
         <property
               name="applicationHeaderIcon"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/icons/vaaclipse.png">
         </property>
         <property
               name="applicationAuthenticationProvider"
               value="bundleclass://org.semanticsoft.vaaclipsedemo.mediaplayer/org.semanticsoft.vaaclipsedemo.mediaplayer.login.LoginProvider">
         </property>
      </product>
   </extension>
   <extension id="processor"
         point="org.eclipse.e4.workbench.model">
         
        <processor
            beforefragment="true"
            class="org.semanticsoft.vaaclipsedemo.mediaplayer.processors.MediaLibrarySetupProcessor">
      	</processor>
         
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.semanticsoft.vaaclipsedemo.mediaplayer.expression.add_to_library_visible_when">
            
            <or>
		         <with
		               variable="activePerspective">
		            <equals
		                  value="org.semanticsoft.vaaclipsedemo.mediaplayer.perspective.complex">
		            </equals>
		         </with>
		         <with
		               variable="activePerspective">
		            <equals
		                  value="org.semanticsoft.vaaclipsedemo.mediaplayer.perspective.medialib">
		            </equals>
		         </with>
         	</or>
      </definition>
   </extension>
   <extension
         point="org.semanticsoft.vaaclipse.theme">
      <themecontribution
            cssUri="css/chameleoncolor.css"
            id="org.semanticsoft.vaaclipsedemo.mediaplayer.chameleoncolor"
            insertPosition="after=MAIN_CSS">
         <themeid
               refid="chameleon-legacy">
         </themeid>
         <resourceLocationUri
               uri="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/icons/chameleon">
         </resourceLocationUri>
      </themecontribution>
      <themecontribution
            id="org.semanticsoft.vaaclipsedemo.mediaplayer.themecontribution2">
         <themeid
               refid="reindeer">
         </themeid>
         <themeid
               refid="runo">
         </themeid>
         <themeid
               refid="liferay">
         </themeid>
         <themeid
               refid="base">
         </themeid>
         <resourceLocationUri
               uri="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/icons/others">
         </resourceLocationUri>
      </themecontribution>
      <themecontribution
            cssUri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/styles.css"
            id="org.semanticsoft.vaaclipse.resources"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/">
         </resourceLocationUri>
         <themeid
               refid="chameleon-legacy">
         </themeid>
         <themeid
               refid="reindeer">
         </themeid>
         <themeid
               refid="runo">
         </themeid>
         <themeid
               refid="liferay">
         </themeid>
         <themeid
               refid="base">
         </themeid>
      </themecontribution>
      <themecontribution
            cssUri="css/mediaplayer.css"
            id="org.semanticsoft.vaaclipsedemo.mediaplayer.maincontrib"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="platform:/plugin/org.semanticsoft.vaaclipsedemo.mediaplayer/icons">
         </resourceLocationUri>
         <themeid
               refid="chameleon-legacy">
         </themeid>
         <themeid
               refid="reindeer">
         </themeid>
         <themeid
               refid="runo">
         </themeid>
         <themeid
               refid="liferay">
         </themeid>
         <themeid
               refid="base">
         </themeid>
      </themecontribution>
   </extension>

</plugin>
