@import "../runo/styles.css"; 

/*
.v-horizontallayout{
	border: 1px solid blue;	
}

.v-verticallayout{
	border: 1px solid red;	
}

.v-absolutelayout{
	border: 1px solid green;	
}

.v-gridlayout{
	border: 1px solid yellow;	
}
*/
