<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.semanticsoft.vaaclipsedemo.mini"
            application="org.semanticsoft.vaaclipse.app.application">
         <property
               name="appName"
               value="org.semanticsoft.vaaclipsedemo.mini">
         </property>
         <property
               name="applicationXMI"
               value="org.semanticsoft.vaaclipsedemo.mini/Application.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="reindeer">
         </property>
         <property
               name="applicationHeaderIcon"
               value="platform:/plugin/org.semanticsoft.vaaclipsedemo.mini/icons/vaaclipse.png">
         </property>
         <!--property
               name="applicationAuthenticationProvider"
               value="bundleclass://org.semanticsoft.vaaclipsedemo.mini/org.semanticsoft.vaaclipsedemo.mini.login.LoginProvider">
         </property-->
      </product>
   </extension>
   <extension
         point="org.semanticsoft.vaaclipse.theme">
         <themecontribution
            cssUri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/styles.css"
            id="org.semanticsoft.vaaclipse.resources"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="platform:/plugin/org.semanticsoft.vaaclipse.resources/VAADIN/themes/vaaclipse_default_theme/">
         </resourceLocationUri>
         <themeid
               refid="reindeer">
         </themeid>
      </themecontribution>
      <themecontribution
            cssUri="css/default.css"
            id="org.semanticsoft.vaaclipsedemo.mini.maincontrib"
            insertPosition="after=MAIN_CSS">
         <resourceLocationUri
               uri="icons/">
         </resourceLocationUri>
         <themeid
               refid="reindeer">
         </themeid>
      </themecontribution>
   </extension>

</plugin>
