<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
            category="org.eclipse.e4.tools"
            class="org.semanticsoft.vaaclipse.wizards.project.E4NewProjectWizard"
            icon="platform:/plugin/org.eclipse.pde.ui/icons/etool16/newpprj_wiz.gif"
            id="org.eclipse.e4.tools.E4NewProjectWizard"
            name="Eclipse 4 Vaadin Application Project"
            project="true">
      	</wizard>
   </extension>

</plugin>
