.v-app .part {
	background-color: white;
}

.v-app .editstatus {
	margin-right: 35px;
	float: right;
}

.v-app .editmode {
	margin-right: 35px;
	float: right;
}

.v-app .codeline {
	margin-right: 300px;
	float: right;
}
