.v-app .part {
	background-color: white;
}

.v-app .editstatus {
	margin-right: 35px;
	float: right;
}

.v-app .editmode {
	margin-right: 35px;
	float: right;
}

.v-app .codeline {
	margin-right: 300px;
	float: right;
}

.v-app .textview {
	margin: 10px;
}

.v-app .texteditor {
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	margin: 10px;
}

/************* jhighlight styles**************************/

/**jhighlight html styles**/
.xml_plain {
	color: rgb(0, 0, 0);
}

.xml_tag_name {
	color: rgb(0, 55, 255);
}

.xml_comment {
	color: rgb(147, 147, 147);
	background-color: rgb(247, 247, 247);
}

.xml_tag_symbols {
	color: rgb(0, 59, 255);
}

.xml_rife_tag {
	color: rgb(0, 0, 0);
	background-color: rgb(228, 230, 160);
}

.xml_attribute_value {
	color: rgb(193, 0, 0);
}

.xml_attribute_name {
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.xml_char_data {
	color: rgb(0, 0, 0);
}

code {
	color: rgb(0, 0, 0);
	font-family: monospace;
	font-size: 12px;
	white-space: nowrap;
}

.xml_rife_name {
	color: rgb(0, 0, 196);
	background-color: rgb(228, 230, 160);
}

h1 {
	font-family: sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: rgb(0, 0, 0);
	background: rgb(210, 210, 210);
	border: solid 1px black;
	padding: 5px;
	text-align: center;
}

.xml_processing_instruction {
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-style: italic;
}

/**jhighlight java styles**/
.java_type {
color: rgb(0,44,221);
}
.java_keyword {
color: rgb(0,0,0); font-weight: bold;
}
.java_javadoc_comment {
color: rgb(147,147,147); background-color: rgb(247,247,247); font-style: italic;
}
.java_comment {
color: rgb(147,147,147); background-color: rgb(247,247,247);
}
.java_operator {
color: rgb(0,124,31);
}
.java_plain {
color: rgb(0,0,0);
}
.java_literal {
color: rgb(188,0,0);
}
code {
color: rgb(0,0,0); font-family: monospace; font-size: 12px; white-space: nowrap;
}
.java_javadoc_tag {
color: rgb(147,147,147); background-color: rgb(247,247,247); font-style: italic; font-weight: bold;
}
.java_separator {
color: rgb(0,33,255);
}
h1 {
font-family: sans-serif; font-size: 16pt; font-weight: bold; color: rgb(0,0,0); background: rgb(210,210,210); border: solid 1px black; padding: 5px; text-align: center;
}
