.preferences-dialog .clear-filter-button {
	float:right;
}

.preferences-dialog .field-editor {
	margin-bottom: 15px;
	float: left;
	clear: left;
}

.preferences-dialog .add-button, .preferences-dialog .remove-button, .preferences-dialog .up-button, .preferences-dialog .down-button {
	float: right;
	clear: right;
}

.preferences-dialog .field-editor-caption-top {
	margin-bottom: 5px;
	float: left;
	clear: left;
}

.preferences-dialog .restore-defaults {
	float: right;
}

.preferences-dialog .apply {
	float: right;
	margin-left: 10px;
}

.preferences-dialog .ok-button {
	float: right;
}

.preferences-dialog .cancel-button {
	float: right;
	margin-left: 10px;
}

.preferences-dialog .page-header-text {
	font-weight: bold;
}

.preferences-dialog .page-header-error-text {
	font-weight: bold;
	color: red;
}

.preferences-dialog .page-header-panel {
	padding: 10px;
	border-bottom: solid 1px #DCDCDC;
}

.preferences-dialog .preferences-page {
	padding: 10px;
}

.preferences-dialog .page-bottom-panel {
	padding: 10px;
}

.preferences-dialog .dlg-button-panel {
	padding: 10px;
	border-top: solid 1px #DCDCDC;
}

.preferences-export-import-dialog .export, .preferences-export-import-dialog .import {
	padding: 10px;	
}

.preferences-export-import-dialog .export .v-panel, .preferences-export-import-dialog .import .v-panel {
	margin-top: 10px;
}

.preferences-export-import-dialog .import .v-label {
	margin-top: 20px;
}
