/* Absolute layout styles */
.v-ddabsolutelayout-drag-shadow,
.v-ddcsslayout-drag-shadow{
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);
	background-position: 0;
	background-image:none !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	vertical-align: bottom;
}

/* Horizontal and vertical styles */
.v-ddorderedlayout-over{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.v-ddorderedlayout-over-middle,
.v-ddorderedlayout-over-center{	
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-left{	
	border-left: 2px solid #1d9dff;
	margin-right: -2px;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-left{
	border-left: 6px solid #1d9dff;
	padding-left: 0px !important;
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-right{	
	border-right: 2px solid #1d9dff;
	margin-left: -2px;		
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-top{
	border-top: 2px solid #1d9dff;
	margin-bottom: -2px;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-top{
	border-top: 7px solid #1d9dff;
	padding-top: 0px !important;
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-bottom{		
	border-bottom: 2px solid #1d9dff;
	margin-top: -2px;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-right + div{	
	border-left: 6px solid #1d9dff;
	padding-left: 0px !important;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-bottom + div{	
	border-top: 7px solid #1d9dff;
	padding-top: 0px !important;	
}
/* First child never has padding, in that case use a narrow indicator */
.v-horizontallayout div:first-child.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-left{
	border-left: 2px solid #1d9dff;
	margin-right: -2px;
}
.v-verticallayout div:first-child.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-top{
	border-top: 2px solid #1d9dff;
	margin-bottom: -2px;
}

/* Drag and drop styles */
.v-ddorderedlayout-over{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.v-ddorderedlayout-over-middle,
.v-ddorderedlayout-over-center{	
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-left{	
	border-left: 2px solid #1d9dff;
	margin-right: -2px;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-left{
	border-left: 6px solid #1d9dff;
	padding-left: 0px !important;
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-right{	
	border-right: 2px solid #1d9dff;
	margin-left: -2px;		
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-top{
	border-top: 2px solid #1d9dff;
	margin-bottom: -2px;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-top{
	border-top: 7px solid #1d9dff;
	padding-top: 0px !important;
}
.v-ddorderedlayout-over.v-ddorderedlayout-over-bottom{		
	border-bottom: 2px solid #1d9dff;
	margin-top: -2px;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-right + div{	
	border-left: 6px solid #1d9dff;
	padding-left: 0px !important;
}
.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-bottom + div{	
	border-top: 7px solid #1d9dff;
	padding-top: 0px !important;	
}
/* First child never has padding, in that case use a narrow indicator */
.v-horizontallayout div:first-child.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-left{
	border-left: 2px solid #1d9dff;
	margin-right: -2px;
}
.v-verticallayout div:first-child.v-ddorderedlayout-over-spaced.v-ddorderedlayout-over-top{
	border-top: 2px solid #1d9dff;
	margin-bottom: -2px;
}


/* Grid layout styles */
.v-ddgridlayout-over{
	
}
.v-ddgridlayout-over-middle,
.v-ddgridlayout-over-center{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);	
}
.v-ddgridlayout-over-left{	
	background-color:transparent;
	border-left: 2px solid #1d9dff;
	margin-right: -2px;
}
.v-ddgridlayout-over-right{	
	background-color:transparent;
	border-right: 2px solid #1d9dff;
	margin-left: -2px;				
}
.v-ddgridlayout-over-top{
	background-color:transparent;
	border-top: 2px solid #1d9dff;
	margin-bottom: -2px;
}
.v-ddgridlayout-over-bottom{
	background-color:transparent;
	border-bottom: 2px solid #1d9dff;
	margin-top: -2px;		
}
.v-ddgridlayout-drag-shadow{
	position: absolute;
}


/* SplitPanel styles */
.v-ddsplitpanel-over{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);		
}
.v-ddsplitpanel-over-splitter{
	border: 1px solid rgb(169,209,255); /* IE fallback */
	border: 1px solid rgba(169,209,255,.6);		
}


/* TabSheet styles */
.v-tabsheet-tabs .v-tabsheet-spacertd .new-tab{
	background:none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);			
	width: 48px;
	height: 23px;	
	padding: 9px 8px 0 6px;
}
.v-tabsheet-tabs .new-tab-left{
	border-left: 2px solid #1d9dff;
	margin-right: -1px;
}
.v-tabsheet-tabs .new-tab-right{
	border-right: 2px solid #1d9dff;
	margin-left: -1px;
}
.v-tabsheet-tabs .new-tab-center{
	border-top: 2px solid #1d9dff;
	margin-bottom: -2px;
}

/* Accordion styles */
.v-accordion-item.dd-over,
.v-accordion-item-caption .v-caption.dd-over{
	background:none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;	
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);			
}
.v-accordion .spacer{	
	background-color: #1d9dff;
	height:2px;
	width:100%;
	position:relative;
}

/* Fixes VFilterselect dragging drag image styles */
.v-drag-element .v-filterselect-input{
	float:left;
	padding: 4px 0px 4px 2px;			
	border: none;
	height:16px;
	background-position: 0% -499px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;	
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	line-height: normal;
	background: transparent repeat-x;
  	background-image: url(../../themes/reindeer/common/img/vertical-sprites.png);
  	-background-image: url(../../themes/reindeer/common/img/vertical-sprites-ie6.png);
  	background-position: left -499px;
}
.v-drag-element .v-filterselect-button{
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	line-height: normal;
}

/* Fixes VTextField drag image styles */
.v-drag-element .v-textfield{
	padding: 3px 3px 4px;
	color: #222;
	font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif;
	font-size: 12px;
	line-height: normal;
}

.v-drag-element input.v-textfield-small {
	font-size: 11px;
	line-height: normal;
	height: auto;
	padding: 2px;
}

/* Fixes VTextArea drag image styles */
.v-drag-element .v-textarea{
	padding: 3px 3px 4px;	
	color: #222222;
	font-family: Arial,Helvetica,Tahoma,Verdana,sans-serif;
	font-size: 12px;
	line-height: normal;
}

.v-drag-element textarea.v-textarea-small {
	font-size: 11px;
}

/* IFRAME shim styles */
.v-dragdrop-iframe-cover{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0.0;
	-webkit-opacity:0.0;
	-khtml-opacity:0.0;
	opacity:0.0;
	background-color: rgb(169,209,255); /* IE fallback */
	background-color: rgba(169,209,255,.6);			
}

/* Fade out drag source */
.v-dd-active-drag-source{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
	-moz-opacity:0.2;
	-webkit-opacity:0.2;
	-khtml-opacity:0.2;
	opacity:0.2;
}

.v-etot-sukin-syn{
	position: absolute; top: 10px; left: 3px; width: 240px; height: 150px; background-color: pink;
}

.vaadock-tabsheet-button-panel {
	background: url(img/button_panel_bgcolor.png) repeat-x scroll left -1px transparent;
    float: right;
    height: 31px;
    margin-top: -31px;
    padding: 0 3px 0 4px;
    position: relative;
    border-left: 1px solid #CFCFCF;
    width: 44px;
}

.v-vaadock-tabsheet-maximize-button {
	width: 18px;
    height: 18px;
	position: relative;
	float: right;
	margin-top: 5px;
    border : none;
    background: url(img/vaadock_sprites.png) no-repeat 0 0;
}

.v-vaadock-tabsheet-maximize-button:hover { 
	background-position: 0 -18px;
}

.v-vaadock-tabsheet-maximize-button:active { 
	background-position: 0 -36px;
}

.v-vaadock-tabsheet-minimize-button {
	width: 18px;
    height: 18px;
	position: relative;
	float: right;
	margin-right: 20px;
	margin-top: -18px;
    border : none;
    background: url(img/vaadock_sprites.png) no-repeat 0 0;
    background-position: 0 -54px;
}

.v-vaadock-tabsheet-minimize-button:hover { 
	background-position: 0 -72px;
}

.v-vaadock-tabsheet-minimize-button:active { 
	background-position: 0 -90px;
}

.v-vaadock-tabsheet-restore-button {
	width: 18px;
    height: 18px;
	position: relative;
	float: right;
	margin-top: 5px;
    border : none;
    background: url(img/vaadock_sprites.png) no-repeat 0 0;
    background-position: 0 -108px;
}

.v-vaadock-tabsheet-restore-button:hover { 
	background-position: 0 -126px;
}

.v-vaadock-tabsheet-restore-button:active { 
	background-position: 0 -144px;
}
