/*
 * Perspective panel
 */
.v-app .perspectivepanel {
	position: relative;
	float: right;
	padding-left: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-right: 4px;
	border: none;
	background-color: transparent;
}

.v-app .open_perspective_window .v-table-cell-content {
	border: transparent;
	padding-left: 0px;
}

/*
* Toptrimbar
*/
.v-app .toptrimbar {
	float: left;
	padding-left: 8px;
	
	size: 100%;
	
	border-width:6px 6px 6px 6px;
	border-image: url("img/toptrimbar.png") 6 6 6 6 stretch stretch;
	-o-border-image: url("img/toptrimbar.png") 6 6 6 6 stretch stretch;
	border-style:solid;
	background-color: #d2d2d2;
}

/*
*	trimbar
*/
.v-app .trimbar .content {
	background-color: #d2d2d2;
	size: 100%;
}

.v-app .horizontaltrimbar {
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.v-app .verticaltrimbar {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 5px;
}

.v-app .verticaltrimelement {
	position: relative;
	padding: 0px;
	margin-top: 3px;
	margin-bottom: 3px;
	margin-left: 0px;
	margin-right: 0px;
}

.v-app .horizontaltrimelement {
	position: relative;
	float: left;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

.v-app .horizontalseparator {
	position: relative;
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 4px;
	margin-right: 4px;
	width: 2px;
	background-image: url('img/separator.png');
	background-position: 0px 0px;
	background-repeat: repeat;
}

.v-app .verticalseparator {
	position: relative;
	float: top;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 0px;
	margin-right: 0px;
	height: 2px;
	background-image: url('img/separator_v.png');
}

/**
 * toolbar
 */
.v-app .toolbar {
	background-color: transparent;
}

.v-app .verticaltoolbarlement {
	padding: 0px;
	margin-top: 1px;
	margin-bottom: 1px;
	margin-left: 0px;
	margin-right: 0px;
}

.v-app .horizontaltoolbarlement {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	margin-right: 1px;
}

/*
*toolbar button
*/
.v-app .v-button-vaaclipsebutton,.v-app .v-disabled.v-button-vaaclipsebutton {
	display: block;
	background: transparent;
	background-image: none;
	border: none;
	padding: 0px;
	border-radius: 4px;
	height: auto;
	width: auto;
	margin: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.v-app .v-button-vaaclipsebutton .v-button-wrap,.v-app .v-disabled.v-button-vaaclipsebutton .v-button-wrap {
	background: transparent;
	border: none;
	padding: 0px;
}

.v-app .v-button-vaaclipsebutton .v-icon {
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	padding-right: 6px;
}

.v-app .v-button-pushed .v-icon, .v-app .v-button-vaaclipsebutton:focus .v-icon {
	margin-left: 1px;
	margin-top: 1px;
	padding-right: 5px;
	padding-bottom: 2px;
}

.v-app .v-disabled:focus .v-icon {
	margin-left: 0px;
	margin-top: 0px;
}

.v-app .toptrimbar .v-button-vaaclipsebutton .v-button-caption {
	color: #222222;
	font-size: 11px;
	font-weight: bold;
	line-height: 16px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.v-app .v-button-vaaclipsebutton:hover {
  	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, .3) inset, 
    -1px -1px 0px 0px rgba(0, 0, 0, .3) inset;
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #f1f1f1 0%, #d6d6d6 50%, #c7c7c7 50%, #cfcfcf 75%, #d7d7d7 100%);
    background: -webkit-linear-gradient(top, #f1f1f1 0%, #d6d6d6 50%, #c7c7c7 50%, #cfcfcf 75%, #d7d7d7 100%);
    background: -webkit-gradient(top, #f1f1f1 0%, #d6d6d6 50%, #c7c7c7 50%, #cfcfcf 75%, #d7d7d7 100%);
    background: linear-gradient(top, #f1f1f1 0%, #d6d6d6 50%, #c7c7c7 50%, #cfcfcf 75%, #d7d7d7 100%);
    background: -o-linear-gradient(top, #f1f1f1 0%, #d6d6d6 50%, #c7c7c7 50%, #cfcfcf 75%, #d7d7d7 100%);
    background: -ms-linear-gradient(top, #f1f1f1 0%, #d6d6d6 50%, #c7c7c7 50%, #cfcfcf 75%, #d7d7d7 100%);
}

.v-app .v-button-pushed, .v-app .v-button-vaaclipsebutton:active,.v-button-vaaclipsebutton:focus {
  	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3) inset,
    -1px -1px 0px 0px rgba(0, 0, 0, .2) inset !important;
    background: #f0f0f0 !important;
    background: -moz-linear-gradient(top, #b6b6b6 0%, #f0f0f0 50%, #d0d0d0 100%) !important;
    background: -webkit-linear-gradient(top, #b6b6b6 0%, #f0f0f0 50%, #d0d0d0 100%) !important;
    background: -webkit-gradient(top, #b6b6b6 0%, #f0f0f0 50%, #d0d0d0 100%) !important;
    background: linear-gradient(top, #b6b6b6 0%, #f0f0f0 50%, #d0d0d0 100%) !important;
    background: -o-linear-gradient(top, #b6b6b6 0%, #f0f0f0 50%, #d0d0d0 100%) !important;
    background: -ms-linear-gradient(top, #b6b6b6 0%, #f0f0f0 50%, #d0d0d0 100%) !important;
}

.v-app .v-disabled:hover, .v-app .v-disabled:active,.v-disabled:focus {
	background-image: none !important;
	background-color: transparent !important;
	display: block !important;
  	box-shadow: none !important;
}

.v-app .v-button-vaaclipsebutton:active .v-button-wrap,.v-app .v-button-vaaclipsebutton:focus .v-button-wrap, .v-app .v-button-pushed .v-button-wrap {
	background-image: none;
}

.v-app .v-button-icononly .v-button-caption {
	display: none;
}

.v-app .v-button-icononly .v-icon {
	margin-right: -2px;
}

.v-app .v-button-vaaclipsebutton .v-button-wrap .v-button-caption {
	padding-right: 8px;
}

.v-app .v-button-textonly .v-button-wrap .v-button-caption {
	padding-left: 6px;
	padding-right: 6px;
}

.v-app .v-button-general {
	margin: 2px;
}

.v-app .v-button-general .v-button-wrap .v-button-caption {
	font-weight: bold;
}

/*
 * sash widget
 */
.v-app .v-splitpanel-hsplitter-invisible-locked {
	width: 0px;
}

.v-app .v-splitpanel-vsplitter-invisible-locked {
	width: 0px;
}

.v-app .org_semanticsoft_vaaclipse_area {
	background-color: transparent;
}

/*
 * window no header
 */
.v-app .v-window-loading-window .v-window-outerheader {
	height: 0;
	margin-left: 0;
	padding: 0;
}

.v-app .mparttoolbararea {
	padding-right: 4px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.v-app .mparttoolbar {
	float: right;
}

/*
bugfixing style for context menu addon
*/
.v-ie9 .close-perspective-item .ctxmenu-name {
	margin-left: 25px;
	margin-top: -25px;
}
